NEXT_PUBLIC_KAKAO_MAP_API_KEY=
NEXT_PUBLIC_KAKAO_REST_API_KEY=
NEXT_PUBLIC_SERVER_URL=

# axios request signature
NEXT_PUBLIC_SECRET_KEY=
NEXT_PUBLIC_CUSTOM_TIMESTAMP_HEADER=
NEXT_PUBLIC_CUSTOM_SIGNATURE_HEADER=

NEXT_KAKAO_CLIENT_ID=
NEXT_KAKAO_CLIENT_SECRET=

SENTRY_AUTH_TOKEN=

# FCM
NEXT_FIREBASE_VAPID_KEY=